@model dotnet_vsr.ViewModels.DetailsViewModel

<div class="jumbotron">
  <p>@Model.Message.PostDate</p>    
  <h1>@Model.Message.Text</h1>
  by <p>@Model.Message.Account.Username</p>
</div>

Replies:
<div class="list-group">   
    @foreach(var reply in @Model.Replies)
    {

        <a asp-action="Details" asp-route-id="@reply.ID"  class="list-group-item">
            <span class="badge">@reply.Upvotes.Count()</span>
            <h4 class="list-group-item-text"><b>@reply.Text</b></h4>
            <p class="list-group-item-heading">@reply.PostDate by @reply.Account.Username</p>
            @if(@Model.Account != null)
            {
                <font>@Html.ActionLink("Like", "Like", "Home", new { messageId = @reply.ID, accountId = @Model.Account.ID }, new { @class = "" })</font>
                <font>@Html.ActionLink("Favorite", "Favorite", "Home", new { messageId = @reply.ID, accountId = @Model.Account.ID }, new { @class = "" })</font>
            }
        </a>
    }    
</div>

@if(@Model.Account != null)
{
    <form asp-action="Details" method="post" class="form-horizontal">
        <input type="hidden" name="messageId" value="@Model.Message.ID" />
        <textarea name="text" class="form-control"></textarea>
        <input type="submit"  class="btn btn-primary form-control" value="Reply"/>
    </form>
}
 