@using dotnet_core.Models
@model dotnet_vsr.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}


@if(@Model.Account != null)
{
    <h1> Welcome, Do you have any questions to ask? </h1>
    <form asp-action="Index" method="post" class="form-horizontal">
        <textarea name="Text" class="form-control" placeholder="Ask your question..."></textarea>
        <input type="submit"  class="btn btn-primary form-control" value="Post Message"/>
    </form>
}
<hr />

<h4>Questions : </h4>

<div class="list-group">   
    @foreach(var message in @Model.Messages)
    {

        <a asp-action="Details" asp-route-id="@message.ID"  class="list-group-item">
            <span class="badge">@message.Upvotes.Count()</span>
            <h4 class="list-group-item-text"><b>@message.Text</b></h4>
            <p class="list-group-item-heading">@message.PostDate by @message.Account.Username</p>

            @if(@Model.Account != null)
            {
                bool voted = false;
                foreach(var upvote in @message.Upvotes) {
                    if(upvote.AccountId == @Model.Account.ID) { 
                        voted = true; } }
                
                bool fav = false;
                foreach(var favorite in @message.Favorites) {
                    if(favorite.AccountId == @Model.Account.ID) { 
                        fav = true; } }
                
                string like = (voted) ? "btn btn-primary btn-small disabled": "btn btn-primary btn-small" ;
                string favo = (fav)   ? "btn btn-primary btn-small disabled": "btn btn-primary btn-small" ;

                @Html.ActionLink("Like", "Like", "Home", new { messageId = @message.ID, accountId = @Model.Account.ID }, new { @class = like }) 
                @Html.ActionLink("Favorite", "Favorite", "Home", new { messageId = @message.ID, accountId = @Model.Account.ID }, new { @class = favo })
            }
        </a>
    }    
</div>