@using dotnet_core.Models

@{
    ViewData["Title"] = "Home Page";
    var account = ViewData["Account"] as Account;
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>@account.Username</p>

@foreach(var message in @account.Messages)
{
    <p>@message.PostDate</p>
    <br/>
    <p>@message.ID: @message.Text</p>
    <br/>
}

@model Message

@if(@account != null)
{
    @using (Html.BeginForm("Index", "Home", FormMethod.Post)) 
    {
    @Html.TextAreaFor(m => m.Text)

    <input type="submit" value="Post Message" />
    }
}