@using dotnet_core.Models
@model dotnet_vsr.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Likes";
}


<h4>Likes : </h4>

<div class="list-group">   
    @foreach(var message in @Model.Messages)
    {

        <a asp-action="Details" asp-route-id="@message.ID"  class="list-group-item">
            <span class="badge">@message.Upvotes.Count()</span>
            <h4 class="list-group-item-text"><b>@message.Text</b></h4>
            <p class="list-group-item-heading">@message.PostDate by @message.Account.Username</p>

            @if(@Model.Account != null)
            {
                <font>@Html.ActionLink("Unlike", "Unlike", "Home", new { messageId = @message.ID }, new { @class = "btn btn-primary btn-small" })</font>
            }
        </a>
    }    
</div>